{% load static %}
{% block custom_css %}
<style>
  .zoomD {
    cursor: zoom-in;
  }

  #lb-back {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
    visibility: hidden;
    opacity: 0;
    transition: all ease 0.4s;
    cursor: zoom-out;
  }

  #lb-back.show {
    visibility: visible;
    opacity: 1;
  }

  #lb-img {
    position: relative;
    top: 53%;
    left: 0%;
    transform: translateY(-50%);
    text-align: center;
  }

  @media screen and (min-width: 992px) {
    #lb-img {
      left: 7%;
    }
  }

  #lb-img img {
    max-width: 100%;
    max-height: 92vh;
    height: auto;
  }
  .nav-link.active{
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.267) !important;
  }
</style>
{% endblock custom_css %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <!-- Brand Logo -->
  <a href="/admin_home" class="brand-link">
    <img src="{% static "dist/img/home-icon.png" %}" alt="logo" class="brand-image img-circle elevation-3"
      style="opacity: .9">
    <span class="brand-text font-weight-bold">EZZ</span>
  </a>

  <!-- Sidebar -->
  <div class="sidebar">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <img src="{{ admin.profile_pic }}" class="img-circle elevation-2 zoomD" alt="User Image">
      </div>
      <div class="info">
        <a href="{% url 'admin_profile' %}" class="d-block ">{{ user.last_name }}</a>
      </div>
    </div>

    <!-- SidebarSearch Form -->
    <div class="form-inline">
      <div class="input-group" data-widget="sidebar-search">
        <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
        <div class="input-group-append">
          <button class="btn btn-sidebar" style="box-shadow: none !important;">
            <i class="fas fa-search fa-fw"></i>
          </button>
        </div>
      </div>
    </div>

    <!-- Sidebar Menu -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column nav-child-indent" data-widget="treeview" role="menu"
        data-accordion="false">
        <li class="nav-item">
          {% url 'admin_home' as admin_home %}
          <a href="{{ admin_home }}" class="nav-link {% if request.path == admin_home %} active {% endif %}">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>HOME</p>
          </a>
        </li>

        <li class="nav-item">
          {% url 'add_account' as add_account %}
          {% url 'manage_account' as manage_account %}
          {% url 'edit_account' staff_id=id as edit_account %}
          <a href="#" class="nav-link {% if request.path == add_account %} active {% elif request.path == manage_account %} active {% elif request.path == edit_account %} active {% endif %}">
            <i class="nav-icon fas fa-file-invoice-dollar"></i>
            <p>ALUMNI
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              
              <a href="{{ add_account }}" class="nav-link {% if request.path == add_account %} active {% endif %}">
                <i class="nav-icon fas fa-plus"></i>
                <p>Add Alumni</p>
              </a>
            </li>
            <li class="nav-item">
              <a href="{% url 'manage_account' %}"
                class="nav-link {% if request.path == manage_account %} active {% endif %} {% if request.path == edit_account %} active {% endif %}">
                <i class="nav-icon fas fa-tasks"></i>
                <p>Manage Alumni</p>
              </a>
            </li>
          </ul>
        </li>        


        <li class="nav-item">
          {% url 'student_feedback_message' as student_feedback_message %}
          {% url 'staff_feedback_message' as staff_feedback_message %}
          {% url 'parent_feedback_message' as parent_feedback_message %}
          {% url 'account_feedback_message' as account_feedback_message %}
          <a href="#" class="nav-link {% if request.path == student_feedback_message %} active {% elif request.path == staff_feedback_message %} active {% elif request.path == parent_feedback_message %} active {% elif request.path == account_feedback_message %} active {% endif %}">
            <i class="nav-icon fas fa-comments"></i>
            <p>
              FEEDBACK
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">

            <li class="nav-item">
              <a href="{% url 'account_feedback_message' %}"
                class="nav-link {% if request.path == account_feedback_message %} active {% endif %}">
                <i class="nav-icon fas fa-users"></i>
                <p>
                  Alumni Feedback
                </p>
              </a>
            </li>
          </ul>
        </li>

        <!-- Notification -->
        <li class="nav-item">
          {% url 'admin_send_notification_staff' as admin_send_notification_staff %}
          {% url 'admin_send_notification_student' as admin_send_notification_student %}
          {% url 'admin_send_notification_parent' as admin_send_notification_parent %}
          {% url 'admin_send_notification_account' as admin_send_notification_account %}
          <a href="#" class="nav-link {% if request.path == admin_send_notification_staff %} active {% elif request.path == admin_send_notification_student %} active {% elif request.path == admin_send_notification_parent %} active {% elif request.path == admin_send_notification_account %} active {% endif %}">
            <i class="nav-icon fas fa-bell"></i>
            <p>
              NOTIFICATIONS
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">

            <li class="nav-item">
              <a href="{% url 'admin_send_notification_account' %}"
                class="nav-link {% if request.path == admin_send_notification_account %} active {% endif %}">
                <i class="nav-icon fas fa-user-graduate"></i>
                <p>
                  Send Alumni Notification
                </p>
              </a>
            </li>

        <!-- News -->
        {% url 'manage_tnews' as manage_tnews %}
        {% url 'edit_tnews' TNews_id=id as edit_tnews %}
        {% url 'add_tnews' as add_tnews %}
        {% url 'view_tnews' TNews_id=id as view_tnews %}

        {% url 'manage_news' as manage_news %}
        {% url 'edit_news' News_id=id as edit_news %}
        {% url 'add_news' as add_news %}
        {% url 'view_news' News_id=id as view_news %}
        
        {% url 'manage_anews' as manage_anews %}
        {% url 'edit_anews' ANews_id=id as edit_anews %}
        {% url 'add_anews' as add_anews %}
        {% url 'view_anews' ANews_id=id as view_anews %}     

        {% url 'manage_pnews' as manage_pnews %}
        {% url 'edit_pnews' PNews_id=id as edit_pnews %}
        {% url 'add_pnews' as add_pnews %}
        {% url 'view_pnews' PNews_id=id as view_pnews %}
        <li class="nav-item">
          <a href="#" class="nav-link
          {% if request.path == manage_tnews %} active
          {% elif request.path == manage_news %} active
          {% elif request.path == manage_anews %} active
          {% elif request.path == manage_pnews %} active

          {% elif request.path == edit_tnews %} active
          {% elif request.path == edit_news %} active
          {% elif request.path == edit_anews %} active
          {% elif request.path == edit_pnews %} active

          {% elif request.path == add_tnews %} active
          {% elif request.path == add_news %} active
          {% elif request.path == add_anews %} active
          {% elif request.path == add_pnews %} active

          {% elif request.path == view_tnews %} active
          {% elif request.path == view_news %} active
          {% elif request.path == view_anews %} active
          {% elif request.path == view_pnews %} active


          {% endif %}">
            <i class="nav-icon fas fa-newspaper"></i>
            <p>
              NEWS
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">

            <li class="nav-item">
              <a href="{% url 'manage_anews' %}"
                class="nav-link {% if request.path == manage_anews %} active {% endif %} {% if request.path == edit_anews %} active {% elif request.path == add_anews %} active {% endif %}">
                <i class="nav-icon fas fa-user-graduate"></i>
                <p>
                  Manage Alumni News
                </p>
              </a>
            </li>

      </ul>
    </nav>
  </div>
</aside>
<script>
  var zoomImg = function () {
    var clone = this.cloneNode();
    clone.classList.remove("zoomD");
    var lb = document.getElementById("lb-img");
    lb.innerHTML = "";
    lb.appendChild(clone);

    lb = document.getElementById("lb-back");
    lb.classList.add("show");
  };

  window.addEventListener("load", function () {

    var images = document.getElementsByClassName("zoomD");
    if (images.length > 0) {
      for (var img of images) {
        img.addEventListener("click", zoomImg);
      }
    }

    document.getElementById("lb-back").addEventListener("click", function () {
      this.classList.remove("show");
    })
  });
</script>
